.guides {
    height: 850px;
}
.guides__content_block {
    margin-top: -150px;
    margin-left: 120px;
}

.guides__content_block_topic {
    margin-top: 377px;
}

.guides__content_img {
    margin-top: 225px;
    margin-left: 80px;
    margin-right: 274px;
}

.guides__content_block_text {
    margin-top: 20px;

    font-weight: 300;
    font-size: 17px;
    line-height: 30px;

    color: #7D7987;
}

.download-button {
    margin-top: 33px;
    margin-left: 0;
    margin-right: 400px;

    width: 132px;
    height: 44px;

    background: #FB8F1D;
    color: #FFFFFF;
    border-radius: 8px;

    border: 1px solid #FFFFFF;
}

.text {
    font-family: 'Mulish', serif;
    font-style: normal;
}

h2 {
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 50px;

    color: #000000;
    mix-blend-mode: normal;
}

h3 {
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 30px;

    color: #000000;
    mix-blend-mode: normal;
}

.left-al {
    text-align: left;
}

.star {
    width: 25px;
    height: 24px;
    margin-right: 16px;
}

.stars {
    margin-top: 130px;
    margin-left: -210px;
}

.testimonials {
    height: 774px;
    background: #F8F8F8;;
}

.testimonials__content {
    margin-top: 80px;
    margin-left: 200px;
}

.testimonials__content_topic {
    margin-top: 50px;
}

.testimonials__content_text {
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: #000000;

    mix-blend-mode: normal;
}

.founder {
    margin-top: 195px;
    margin-left: 330px;
}

.founder-edward {
    margin-top: 35px;
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 48px;

    color: #000000;

    mix-blend-mode: normal;
}

.founder-circle {
    margin-top: -20px;
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 48px;

    color: rgba(0, 0, 0, 0.85);

    mix-blend-mode: normal;
}

.view-all-ref {
    margin-left: 1100px;
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 60px;
    display: flex;
    align-items: center;

    color: #FB8F1D;

    mix-blend-mode: normal;
}

.stories {
    margin-top: 100px;
    margin-bottom: 50px;
}

.story-picture {
    border-radius: 15px 15px 0 0;
}

.stories-table {
    margin-top: 70px;
    margin-left: 193px;
}

.social-ref-logo {
    margin-right: 20px;
    margin-bottom: 40px;
}

.twitter-ref-logo {
    margin-left: 690px;
    margin-right: 20px;
}

.view-all-ref {
    margin-left: 800px;
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 60px;
    text-decoration: none;

    display: flex;
    align-items: center;

    color: #FB8F1D;

    mix-blend-mode: normal;
}

.stories-table {
    margin-top: 35px;
    margin-left: 193px;
    margin-right: 193px;
}

.read-more-ref {
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 28px;

    margin-left: 5px;

    color: #FB8F1D;

    mix-blend-mode: normal;
    float: left;
    text-decoration: none;
}

.story-text {
    text-align: left;
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;

    margin-left: 5px;
    margin-right: 5px;

    color: #7D7987;

    mix-blend-mode: normal;
}

.story-topic {
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 30px;

    margin-left: 5px;
    margin-right: 5px;

    color: #000000;

    mix-blend-mode: normal;
    text-align: left;
}

.story {
    margin: auto;
}
